#friends-diplay-link {
  text-align: center;
  display: block;
  background-color: #f7ddc0;
  opacity: 0.7;
  color: rgb(66, 37, 5);
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

#friends-diplay-link i {
  color: rgb(66, 37, 5, 0.4);
}

.friends__screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: 1px solid rgb(66, 37, 5, 0.5);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgb(66, 37, 5);
  border-bottom: 1px solid rgb(66, 37, 5, 0.2);
  padding-bottom: 15px;
}
