#friends-diplay-link {
  text-align: center;
  display: block;
  background-color: #fbf1e5;
  opacity: 0.7;
  color: rgb(66, 37, 5);
  padding: 15px 0px;
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0px 10px;
}

#friends-diplay-link i {
  color: rgb(66, 37, 5, 0.4);
}

.friends__screen {
  padding: 0px var(--horizontal-space);
  margin-top: 30px;
}

.friends-screen__channel {
  margin-top: 20px;
  padding-top: 15px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: rgb(66, 37, 5);
  border-top: 0.5px solid rgb(66, 37, 5, 0.1);
}

.friends-screen__channel-header > span {
  margin: 10px 0px;
}
