.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f7e2e3;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid #f7e2e3;
}

.nav_list {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__ellipsis {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -6px;
  bottom: 28px;
}
